      <section class="card-table" aria-labelledby="form-title">
        <div class="card-table-header">
          <h2>Propiedades</h2>
        </div>
        <div class="card-table-body">

          <table class="dl-table">
            <thead>
              <tr>
                <th>Propiedad</th>
                <th>Atributo HTML</th>
                <th>Tipo</th>
                <th>Default</th>
                <th>Descripción</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><code>label</code></td>
                <td><code>label</code></td>
                <td class="type">string</td>
                <td><code>''</code></td>
                <td>Texto que se va a mostrar en pantalla</td>
              </tr>
              <tr>
                <td><code>name</code></td>
                <td><code>name</code></td>
                <td class="type">string</td>
                <td><code>''</code></td>
                <td>Es el atributo name que se le asigna al <code>input</code></td>
              </tr>
              
            </tbody>
          </table>
        </div>
      </section>